<div class="base_style">
    

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6" style="text-align: center;">
            <img src="../../assets/dog.jpg" style="border-radius: 40%; margin-top: 50px;" width="70%" />
        </div>

        <div class="col-xs-12 col-sm-6 presentation_text">
            <h1 class="title"><b>Adopción del Municipio de Sucre </b></h1>
            <h3 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non
                elementum mi, pulvinar commodo
                risus.
                Proin eget
                lacinia odio. Pellentesque lacinia nunc ut aliquet scelerisque. Phasellus hendrerit purus quis urna
                iaculis
                porttitor. Nam vel euismod diam, a ornare velit. Morbi vestibulum auctor ligula, sed scelerisque
                dolor
                aliquam
                aliquet. Nulla semper malesuada ornare.</h3>

            <button mat-raised-button color="yellow" style="margin-top: 24px;">Vamos a adoptar!!</button>
        </div>
    </div>
</div>